name: Build and Push to ACR

on:
  push:
    tags:
      - 'v*'
jobs:
  # build-and-push:
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v3

  #     - name: Azure Login
  #       uses: azure/login@v1
  #       with:
  #         creds: ${{ secrets.AZURE_CREDENTIALS }}

  #     - name: Build and push image to ACR
  #       run: |
  #         az acr build \
  #           --registry acrmercury.azurecr.io \
  #           --image mercury:${{ github.ref_name }} \
  #           --file Dockerfile .

  terraform-deploy:
    runs-on: ubuntu-latest

    env:
      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
    needs: build-and-push

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Apply
        run: |
          terraform init -backend-config="prod.tfbackend"
          terraform plan
          terraform apply -auto-approve -var="image_tag=${{ github.ref_name }}""
        working-directory: ./terraform
